autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
docopt==0.6.2
idna==2.9
pipreqs==0.4.10
pycodestyle==2.5.0
pypacker==4.9
PySide2==5.14.1
requests==2.23.0
scapy==2.4.3
shiboken2==5.14.1
urllib3==1.25.8
yarg==0.1.9
